@import 'color.scss';
.commentItemContainer {
  width: 100%;

  padding: 2rem;
  border-radius: 0.5rem;
  background: white;
  hr {
    height: 1px;
    margin: 1rem 0;
    background: $--color--border;
    border: 0;
  }
}
.commentEditContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reactionContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.commentUserContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

  .userName {
    font-size: 12pt;
    font-weight: 500;
    line-height: 1.2;
    color: $--color--text1;
  }

  .postingDate {
    font-size: 9pt;
    font-weight: 300;
    color: $--color--text3;

    & > :first-child {
      margin-right: 0.5rem;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.content {
  min-height: 5rem;
  width: 100%;
  border: 1px solid $--color--border;

  font-size: 12pt;
  font-weight: 300;
  color: $--color--text2;

  resize: none;

  &:focus {
    outline: none;
  }
}
.comment {
  color: $--color--text1;
}
