@import 'color.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding-bottom: 2rem;
  margin-bottom: 4rem;
  background: $--color--background;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;

    width: 95%;
  }
}

.allCommentsButton {
  width: 100%;

  padding: 1.5rem 0;

  // border-top: 1px solid $--color--border;
  border-bottom: 1px solid $--color--border;
  font-size: 13pt;
  text-align: center;
}

.userCommentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 95%;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .userProfileContainer {
      position: relative;
      display: inline-block;

      .userProfile {
        width: 5rem;
        height: 5rem;

        background: pink;
        border-radius: 50%;
      }

      .userBadge {
        position: absolute;
        top: -0.7rem;
        right: -0.7rem;
        width: 2.4rem;
        height: 2.4rem;

        background: skyblue;
        border-radius: 50%;
      }
    }

    & .content {
      width: 90%;
      min-height: 6rem;

      padding: 1rem;

      border: none;
      border-radius: 0.5rem;

      font-size: 12pt;
      font-weight: 400;
      color: $--color--text1;

      resize: none;

      &:focus {
        outline: none;
      }
    }
  }

  > button {
    align-self: flex-end;
  }
}
