@import 'color.scss';

.bestPostList {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .title {
    display: block;
    padding: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .userReactionContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &:hover {
    background: $--color--background;
    border-radius: 0.5rem;
  }
}
