@import 'color.scss';

.container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  width: 100%;
  padding: 2rem 1rem;
  background: $--color--background;
  border-radius: 1rem;
  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 0.6rem;

    .userName {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;

      font-size: 14pt;
      font-weight: 700;

      .userBadge {
        width: 2rem;
        height: 2rem;
      }
    }
    .notLoggedIn {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      font-size: 14pt;
      color: $--color--text3;
    }

    .userPostingNumber {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      font-size: 9pt;

      & > :first-child {
        font-weight: 300;
        color: $--color--text3;
      }

      & > :last-child {
        position: relative;
        font-size: 9pt;
        color: $--color--primary;

        &::after {
          position: absolute;
          bottom: -0.2rem;
          left: 50%;

          display: block;
          width: 0;
          height: 1px;

          background: $--color--primary;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          content: '';
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
