@import 'color.scss';

.commentContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: $--color--background;
  border-radius: 0.5rem;

  p {
    display: block;
    padding: 0 0 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    color: $--color--text2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    font-size: 1.4rem;
    font-weight: 500;
    color: $--color--text1;
  }
}
