.postContainer {
  width: 95%;

  padding: 10px;
  margin: 10px;

  background-color: white;
  border-radius: 10px;
}

.postItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px 20px;
  padding: 0 30px;

  font-size: 1.7rem;
  font-weight: bold;
}

.tagImg {
  width: 50px;
  height: 50px;

  margin-right: 10px;

  border-radius: 50%;

  background-color: aqua;
}

.imgContainer {
  width: 100%;
  height: 300px;

  padding: 0 30px;
  margin-bottom: 20px;

  border-radius: 10%;
}

.inputContainer {
  display: flex;
  flex-direction: column;

  padding: 40px;
}
.inputContent {
  margin: 10px;
  padding: 10px;

  border: 1px solid #969696;
  border-radius: 10px;

  font-size: 1.7rem;
  font-weight: bold;
}
