@import 'color.scss';

.formElement {
  padding: 0 0 5px;

  label {
    font-size: 1.3rem;
    color: $--color--text2;
  }

  input {
    flex: 1;
    padding: 0 10px;
    width: 100%;
    min-width: 300px;
    height: 45px;
    border: 1px solid $--color--border;
    border-radius: 6px;
  }

  .error {
    display: block;
    padding: 5px 0;
    font-size: 1.3rem;
    color: $--color--pink;
  }
}
