.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

  width: 800px;
  height: 800px;

  margin-left: 40px;
  padding: 60px 110px 10px;

  border: 20px solid #d9d9d93b;
  border-radius: 10px;
  box-sizing: border-box;
}

.item {
  width: 150px;
  height: 200px;
  background-color: aqua;
  border: solid red 1px;
  box-sizing: border-box;
}
