@import 'color.scss';

.container {
  width: 100%;

  .title {
    position: relative;
    padding: 0 0 3rem;
    margin-left: 3rem;
    width: 100%;
    text-align: left;

    .star {
      position: absolute;
      display: block;
      content: '';
      top: -2px;
      left: -28px;
      width: 3rem;
    }

    h2 {
      position: relative;
      display: inline-block;
      font-size: 3.2rem;
      font-weight: 700;
      letter-spacing: 0.2rem;

      &::after {
        position: absolute;
        bottom: 0.5rem;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 1.5rem;
        background: rgba(152, 218, 123, 0.5);
      }
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    border: 1px solid #eee;
    border-top: 0.3rem solid #252525;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* box-shadow: rgba(174, 174, 174, 0.2) 0px 2px 15px 0px; */
    /* border: 20px solid rgba(217, 217, 217, 0.231372549); */

    & > div {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem 3rem;
      width: 90%;
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 4rem 0;
  width: 30.5%;
  border: 1px solid $--color--primary;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: rgba(152, 218, 123, 0.5) 0px 5px 10px;
  }

  & > .badgeName {
    display: block;
    padding: 3rem 0 0;
    font-size: 1.8rem;
    font-weight: 500;
  }

  & > img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
  }
}

.notAcquired {
  border: solid $--color--border 1px;
  opacity: 0.2;
}
