@import 'color.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

  width: 800px;
  height: 800px;

  margin-left: 40px;
  padding: 60px 110px 10px;

  border: 20px solid #d9d9d93b;
  border-radius: 10px;
  box-sizing: border-box;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 150px;
  height: 200px;

  padding: 20px 0;

  border: solid $--color--primary 1px;
  border-radius: 10px;
  box-sizing: border-box;

  cursor: pointer;

  &:hover {
    box-shadow: $--color--primary 0px 2px 8px 0px;
  }

  & > .badgeName {
    font-size: 1.8rem;
  }

  & > img {
    width: 120px;
    height: 120px;

    border: solid $--color--secondary 1px;
    border-radius: 50%;
  }
}

.notAcquired {
  border: solid $--color--border 1px;
  opacity: 0.2;
}
