@import 'color.scss';

.container {
  width: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
  border: 1px solid $--color--border;
  border-top: 0.3rem solid $--color--border-dk;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  & > div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1.5rem;
    width: 100%;
  }
}

.items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
  width: calc(33.33% - 1rem);
  border: 1.5px solid $--color--border-dk;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  &:hover {
    box-shadow: rgba(215, 215, 215, 0.5) 0px 5px 10px;
  }

  .badgeName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.3;
    background: $--color--border-dk;
    width: 100%;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: $--color--white;
    word-break: keep-all;
  }

  & > img {
    display: flex;
    flex: 0.7;
    margin: 3rem 0 2rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }

  .checked {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.2rem 0.7rem;
    font-size: 1.3rem;
    border: 1px solid $--color--pink;
    color: $--color--white;
    font-weight: 500;
    background-color: $--color--pink;
    border-radius: 1.5rem;
  }
}

.notAcquired {
  border: solid $--color--border 1px;
  opacity: 0.2;
}

@media screen and (max-width: 724px) {
  .contents {
    padding: 4rem 1.5rem;

    & > div {
      gap: 2rem 0.9rem;
    }
  }

  .items {
    width: calc(33.33% - 0.6rem);

    .badgeName {
      padding: 1.5rem 1rem;
      font-size: 1.6rem;
    }

    & > img {
      margin: 2rem 0 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .contents {
    gap: 2rem;
    padding: 4rem 0;
    border: none;
    border-top: 0.2rem solid $--color--border-dk;
  }

  .items {
    width: calc(50% - 0.5rem);
  }
}
