@import 'color.scss';

.edit {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 800px;
  height: 800px;

  margin-left: 40px;
  padding-top: 40px;

  border: 20px solid #d9d9d93b;
  border-radius: 10px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 10px;
}

.profileImageBox {
  display: flex;
  justify-content: center;

  width: 120px;
  height: 120px;

  position: relative;

  // 프로필 이미지로 교체
  & > img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
  }

  & > UserIcon {
    width: 120px;
    height: 120px;

    border-radius: 50%;
  }

  & > .camera {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 9999;

    width: 40px;
    height: 40px;

    cursor: pointer;

    &:hover {
      right: 0px;
      bottom: 0px;

      width: 50px;
      height: 50px;
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;

  & > label {
    width: 70px;
  }

  & > input {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid $--color--border;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  margin-top: 20px;
}
