@import 'color.scss';
// @import 'assets/icons/Cam.svg' as Icon;

.edit {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 800px;
  height: 800px;

  margin-left: 40px;
  padding-top: 40px;

  border: 20px solid #d9d9d93b;
  border-radius: 10px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  display: flex;
  justify-content: center;

  width: 120px;
  height: 120px;
  cursor: pointer;
  :hover {
    background-image: url('/assets/icons/Cam.svg');
    background-repeat: no-repeat;
  }
}

.userInfo {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;

  input {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $--color--border;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;

  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.button {
  width: 120px;
  height: 40px;

  background-color: #24ae63;
  border: none;
  border-radius: 10px;

  color: white;
}
