@import 'color.scss';

.main {
  width: 100%;

  .title {
    position: relative;
    padding: 0 0 3rem;
    margin-left: 3rem;
    width: 100%;
    text-align: left;

    .star {
      position: absolute;
      display: block;
      content: '';
      top: -2px;
      left: -28px;
      width: 3rem;
    }

    h2 {
      position: relative;
      display: inline-block;
      font-size: 3.2rem;
      font-weight: 700;
      letter-spacing: 0.2rem;

      &::after {
        position: absolute;
        bottom: 0.5rem;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 1.5rem;
        background: rgba(152, 218, 123, 0.5);
      }
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    border: 1px solid #eee;
    border-top: 0.3rem solid #252525;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* box-shadow: rgba(174, 174, 174, 0.2) 0px 2px 15px 0px; */
    /* border: 20px solid rgba(217, 217, 217, 0.231372549); */
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0;

  & > .imgContainer {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    overflow: hidden;

    & > img {
      width: 100%;
    }
  }
}

.dataFiledSet {
  margin: 5rem 0 0;
  width: 60%;
  border: 1px solid $--color--border;

  & .dataFiled {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 80px;

    &:not(:last-child) {
      border-bottom: 1px solid $--color--border;
    }

    .fixedData {
      display: flex;
      align-items: center;
      padding-left: 4rem;
      width: 30%;
      min-height: 8rem;
      background: #f8f8f8;

      span {
        font-size: 1.8rem;
        font-weight: 600;
        color: $--color--text1;
      }
    }

    & > .fetchData {
      display: block;
      padding: 0 3rem;
      width: 70%;
      color: $--color--text1;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  width: 40%;
  gap: 20px;

  & > button {
    flex: 1;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: 600;

    &:first-child {
      border: 1px solid $--color--primary;
      background: $--color--primary;
      color: $--color--white;
    }
    &:last-child {
      border: 1px solid $--color--primary;
      background: $--color--white;
      color: $--color--primary;
    }
  }
}
