@import 'color.scss';

.main {
  width: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
  border: 1px solid $--color--border;
  border-top: 0.3rem solid $--color--border-dk;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .imgContainer {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
    }
  }
}

.dataFiledSet {
  width: 60%;
  border: 1px solid $--color--border;

  & .dataFiled {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 8rem;

    &:not(:last-child) {
      border-bottom: 1px solid $--color--border;
    }

    .fixedData {
      display: flex;
      align-items: center;
      padding-left: 4rem;
      width: 30%;
      min-height: 8rem;
      background: $--color--background;

      span {
        font-size: 1.8rem;
        font-weight: 600;
        color: $--color--text1;
      }
    }

    & > .fetchData {
      display: block;
      padding: 0 3rem;
      width: 70%;
      color: $--color--text1;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 2rem;

  & > button {
    flex: 1;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: 600;

    &:first-child {
      border: 1px solid $--color--primary;
      background: $--color--primary;
      color: $--color--white;
    }
    &:last-child {
      border: 1px solid $--color--primary;
      background: $--color--white;
      color: $--color--primary;
    }
  }
}

@media screen and (max-width: 724px) {
  .contents {
    padding: 4rem 0;
  }

  .dataFiledSet {
    width: 100%;
    max-width: 45rem;
  }
}

@media screen and (max-width: 480px) {
  .contents {
    gap: 2rem;
    border: none;
    border-top: 0.2rem solid $--color--border-dk;
  }

  .dataFiledSet {
    width: 100%;
    max-width: unset;
  }

  .profile {
    & > .imgContainer {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
