@import 'color.scss';

.sideNavigation {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 300px;

  padding: 4rem 0;

  border: 1px solid $--color--border;
  border-radius: 1rem;

  box-sizing: border-box;

  & > ul {
    padding-inline-start: 0px;

    & > li {
      position: relative;

      padding: 10px 0;
      font-size: 2rem;
      cursor: pointer;

      &::after {
        position: absolute;
        bottom: -0.2rem;
        left: 50%;

        display: block;
        width: 0;
        height: 1px;

        background: $--color--primary;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        content: '';
      }

      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.active {
  color: $--color--primary;
}

.inactive {
  color: black;
}
