@import 'color.scss';

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14rem;
  background: $--color--sub;

  & > h2 {
    font-size: 0;
    font-weight: 700;
  }
}

@media screen and (max-width: 724px) {
  .title {
    height: 8rem;
  }
}
