@import 'color.scss';

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 12rem;

  background: $--color--background;
  font-size: 2rem;
  font-weight: bold;
}
