@import 'color.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  > a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.category {
  padding: 0 1.8rem;
  height: 3.6rem;
  background: $--color--white;
  border: 1px solid $--color--primary;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: $--color--primary;

  &:hover {
    background: $--color--primary;
    color: $--color--white;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 4rem 1rem 0 1rem;
  border-top: 1px solid $--color--border;
}

.postUserContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .userContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .userName {
    font-size: 1.6rem;
    font-weight: 600;
    color: $--color--text1;
  }

  .postingDate {
    font-size: 1.3rem;
    color: $--color--text3;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .title {
    font-size: 2rem;
    font-weight: 500;
    color: $--color--text1;
  }
  .content {
    min-height: 10rem;
    width: 100%;
    border: none;
    font-size: 1.6rem;
    color: $--color--text2;
    white-space: pre-wrap;
  }
}

.reactionContainer {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 1.4rem;
    font-weight: 500;
    color: $--color--text2;
  }
}

.scrollContainer {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
  cursor: pointer;

  button {
    border-radius: 50%;
    border: 2px solid $--color--primary;
    padding: 1rem;

    &:hover {
      color: rgba($color: transparent, $alpha: 0.5);
      border-color: rgba($color: transparent, $alpha: 0.5);
      transition: all 0.4s ease-out;
    }
  }
}
