@import 'color.scss';

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 100%;
  padding: 4rem 1rem;
  border-top: 1px solid $--color--border;
  border-bottom: 1px solid $--color--border;
  input {
    width: inherit;
    &::placeholder {
      color: $--color--text3;
    }
  }
}

.title {
  font-size: 18pt;
  font-weight: 400;
  color: $--color--text1;
}
.content {
  min-height: 20rem;
  width: 100%;
  border: none;

  font-size: 12pt;
  font-weight: 300;
  color: $--color--text2;

  resize: none;

  &:focus {
    outline: none;
  }
}
