@import 'color.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  > a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.category {
  padding: 0 1.8rem;
  height: 3.6rem;
  background: $--color--white;
  border: 1px solid $--color--primary;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: $--color--primary;

  &:hover {
    background: $--color--primary;
    color: $--color--white;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
