@import 'color.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.BoastItemsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
