@import 'color.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  min-width: calc(100% - 40rem);
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.BoastItemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60rem;
}

.swiperContainer {
  width: 100%;

  .slick-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 5rem 0;
  font-size: 2rem;
  color: $--color--text3;
}

@media screen and (max-width: 895px) {
  .container {
    min-width: auto;
    width: 100%;
  }
}
