@import 'color.scss';

.boastSliderContainer {
  width: 100%;
}

.swiper {
  position: relative;
  width: 100%;
  height: auto;
}
.swiper-pagination {
  position: relative;
  padding: 2rem 0 0;
}
.swiper-pagination-bullet {
  background-color: $--color--primary;
  margin: 0 10px;
}
