.boastSliderContainer {
  width: 100%;

  & > :first-child {
    width: 4rem !important;
    height: 4rem !important;
    z-index: 5;
    left: -5rem;
  }
  & > :last-child {
    width: 4rem !important;
    height: 4rem !important;
    z-index: 5;
    right: -4rem;
  }

  & .slick-slide {
    width: 700px !important;
    overflow: hidden;
  }
}
