@import 'color.scss';

.searchContainer {
  display: flex;
  align-items: center;

  width: 100%;
  height: 4.5rem;

  margin: 0 auto;
  padding: 1rem;

  background: white;
  border: 1px solid $--color--border;
  border-radius: 0.4rem;

  .searchInput {
    width: 100%;
    height: 100%;
    margin: auto;

    font-size: 16px;
    font-weight: 300;
    color: $--color--text1;

    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      color: gainsboro;
    }
  }

  .searchButton {
    display: inline-block;
  }
}

.postingButton {
  height: 4rem;
  padding: 0 2rem;
  background: $--color--primary;
  border-radius: 0.4rem;

  font-size: 12pt;
  color: white;
}
