@import 'color.scss';
.pageContainer {
  display: flex;
  justify-content: center;
  & ul {
    display: flex;
    align-items: center;
    gap: 2rem;

    & li:active {
      color: $--color--primary;
    }
  }
}
