@import 'color.scss';

.postingContainer {
  display: flex;
  flex-direction: column;

  padding: 0 1rem;
  border-top: 1px solid $--color--border;
}

.userProfileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 3rem 0;

  .userProfileItems {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .userName {
    font-size: 12pt;
    font-weight: 500;
    color: $--color--text1;
  }

  .postingDate {
    margin-left: 3rem;

    font-size: 10pt;
    font-weight: 300;
    color: $--color--text3;
  }
}
