@import 'color.scss';

.boardList {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border-top: 1px solid $--color--border;
  cursor: pointer;
}

.userEditContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentContainer {
  padding: 2.5rem 0;

  .title {
    font-size: 1.6rem;
    font-weight: 500;
    color: $--color--text1;
  }
  .content {
    display: block;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.4rem;
    color: $--color--text2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userReactionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.reactionContainer {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  .reactionNumber {
    font-size: 1.3rem;
    color: $--color--text3;
  }
}

.postingDate {
  font-size: 1.3rem;
  color: $--color--text3;
}
