@import 'color.scss';

.questionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 14rem;
  padding: 2rem 2rem 1rem;
  border: 1px solid $--color--border;
  border-radius: 1rem;

  strong {
    font-size: 1.6rem;
    font-weight: 500;
  }

  p {
    font-size: 1.3rem;
    text-align: right;
    font-weight: 400;
    color: $--color--text3;
  }
}

.swiper-silide {
  align-items: stretch;
}
