@import 'color.scss';

.unsolved {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem 0 0 0;

  & > span {
    font-size: 1.8rem;
    font-weight: 700;
    color: $--color--text1;
  }
  .swiper-autoheight,
  .swiper-autoheight .swiper-slide {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .unsolved {
    margin: 1rem 0 0;
  }

  .swiper-autoheight,
  .swiper-autoheight .swiper-slide {
    width: 100%;
  }
}
