.container {
  position: relative;
  display: inline-block;

  .userProfile {
    width: 3rem;
    height: 3rem;

    background: pink;
    border-radius: 50%;
  }

  .userBadge {
    position: absolute;
    top: -0.2rem;
    right: -0.5rem;
    width: 1.5rem;
    height: 1.5rem;

    background: skyblue;
    border-radius: 50%;
  }
}
