@import 'color.scss';

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14rem;
  background: $--color--sub;
}

@media screen and (max-width: 724px) {
  .container {
    height: 8rem;
  }
}
