@import 'color.scss';

.container {
  position: relative;
  margin: 20rem auto 15rem;
  max-width: 114rem;
  height: 100%;
  border: none;
}

.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 7rem 2rem 2rem;
  background: $--color--background;
  border-radius: 2rem;
}

.calendar,
.post {
  display: flex;
  width: 50%;
}

.switchBox {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  strong {
    font-size: 1.6rem;
    font-weight: 600;
    color: $--color--text2;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 3.4rem;

    &.on {
      .slider {
        background: $--color--sub;
      }

      .slider:before {
        -webkit-transform: translateX(3.6rem);
        -ms-transform: translateX(3.6rem);
        transform: translateX(3.6rem);
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $--color--border;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 3.4rem;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 2.6rem;
    width: 2.6rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background: $--color--white;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media screen and (max-width: 895px) {
  .inner {
    gap: 1rem;
    padding: 7rem 1.5rem 2rem;
    border-radius: 0;
  }

  .calendar {
    width: 60%;
  }

  .post {
    width: 40%;
  }
}

@media screen and (max-width: 724px) {
  .container {
    position: relative;
    margin: 10rem auto;
  }

  .inner {
    flex-direction: column;
    gap: 3rem;
  }

  .calendar,
  .post {
    display: flex;
    width: 100%;
  }
}
