.main {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  width: 1140px;
  margin: 3rem auto;

  > :first-child {
    flex-shrink: 0;

    width: 22rem;
  }

  > :last-child {
    flex-grow: 1;
    background: gainsboro;
  }
}
