@import 'color.scss';

.container {
  margin: 0 auto;
  height: 100vh;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div:first-child {
      // flex: 0.6;

      img {
        height: 100vh;
      }
    }

    & > div:last-child {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 500px;
      width: 40%;
      height: 100vh;
      background: #ffffff;
    }
  }
}

.form {
  flex: 1;

  .logo {
    span {
      display: block;
      padding: 0 0 10px;
      font-size: 2rem;
      font-family: 'Montserrat Alternates';
      font-style: italic;
      font-weight: 900;
      color: #24ae63;
    }
  }

  .title {
    padding: 0 0 30px;

    h2 {
      font-size: 3rem;
      font-weight: 700;
      color: $--color--text1;
    }

    p {
      display: block;
      padding: 8px 0 0;
      font-size: 1.4rem;
      color: $--color--text2;
      opacity: 0.8;

      a {
        color: rgb(57, 122, 246);
        text-decoration: underline;
      }
    }
  }

  form {
    fieldset {
      margin: 0;
      padding: 0;
      border: 0;

      legend {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 0;
      }
    }
  }
}
