@import 'color.scss';
@import '../components/home/Section.module.scss';

.container {
  padding: 13rem 0 0;

  * {
    scroll-behavior: smooth;
  }
}

.link {
  background: rgba(152, 218, 123, 0.5);

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 114rem;
    min-height: 50rem;
    text-align: center;

    h2 {
      display: block;
      padding: 0 0 5rem;
      font-size: 3.8rem;
      color: $--color--text1;
    }

    a {
      display: block;
      width: 20rem;
      height: 6rem;

      background: $--color--text1;
      border-radius: 3rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 6rem;
      color: $--color--white;
    }
  }
}

@media screen and (max-width: 895px) {
}

@media screen and (max-width: 724px) {
  .link {
    background: rgba(152, 218, 123, 0.5);

    & > div {
      min-height: 30rem;

      h2 {
        padding: 0 0 3rem;
        font-size: 2.8rem;
      }

      a {
        width: auto;
        padding: 0 5rem;
        height: 5rem;
        font-size: 2rem;
        line-height: 5rem;
      }
    }
  }
}
