@import 'color.scss';

.container {
  margin: 0 auto;
  height: 100vh;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div:first-child {
      // flex: 0.6;

      img {
        height: 100vh;
      }
    }

    & > div:last-child {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 500px;
      width: 40%;
      height: 100vh;
      background: #ffffff;
    }
  }
}

.form {
  flex: 1;

  form {
    fieldset {
      margin: 0;
      padding: 0;
      border: 0;

      legend {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 0;
      }
    }
  }
}

.formElement {
  padding: 0 0 5px;

  label {
    font-size: 1.3rem;
    color: $--color--text2;
  }

  input {
    flex: 1;
    padding: 0 10px;
    width: 100%;
    min-width: 300px;
    height: 45px;
    border: 1px solid $--color--border;
    border-radius: 6px;
  }

  .error {
    display: block;
    padding: 5px 0;
    font-size: 1.3rem;
    color: $--color--pink;
  }
}
