@import 'color.scss';

.container {
  margin: 0 auto;
  height: 100vh;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div:first-child {
      // flex: 0.6;

      img {
        height: 100vh;
      }
    }

    & > div:last-child {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 500px;
      width: 40%;
      height: 100vh;
      background: #ffffff;
    }
  }
}

.form {
  flex: 1;

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;

    legend {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 0;
    }
  }

  .linkBox {
    display: flex;
    justify-content: center;
    padding: 20px 0 0;

    a {
      position: relative;
      display: block;
      padding: 0 8px;
      font-size: 1.3rem;
      color: $--color--text2;

      &:not(:last-child):after {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: block;
        content: '';
        width: 1px;
        height: 10px;
        background: $--color--border;
      }
    }
  }
}

.border {
  padding: 30px 0 0;
  text-align: center;

  span {
    position: relative;
    display: block;
    font-size: 1.3rem;
    color: $--color--text2;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: block;
      content: '';
      width: 30%;
      height: 1px;
      background: $--color--border;
    }

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      content: '';
      width: 30%;
      height: 1px;
      background: $--color--border;
    }
  }
}
