@import 'color.scss';

.swiperContainer {
  height: 42rem;

  & > div {
    width: 100%;
    height: 100%;
  }

  .community {
    padding: 0 10px;
  }

  .swiperSlide {
    border-radius: 1rem;
  }
}
