@import 'color.scss';

section {
  & > .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0 5rem 15rem;
    margin: 0 auto;
    max-width: 114rem;

    .title {
      padding: 0 0 5rem;

      & > div {
        padding: 0 0 2rem;

        span {
          font-size: 1.8rem;
          font-weight: 700;
          color: $--color--primary;
          opacity: 0.5;
        }

        h3 {
          font-size: 3.2rem;
          font-weight: 700;
          color: $--color--primary;
        }
      }

      p {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.6;
        color: $--color--text2;
      }
    }

    .contents {
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        padding: 0 0 2rem;

        & > div {
          img {
            width: 3rem;
            height: 3rem;
          }
        }

        & > span {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
}

section.homeMain {
  .inner {
    align-items: stretch;
    padding: 15rem 0 0 5rem;
  }

  .left {
    width: 40%;

    p {
      display: block;
      padding: 0 0 1.5rem;
      font-size: 3.6rem;
      font-weight: 300;
    }

    strong {
      display: block;
      padding: 0 0 4rem;
      font-size: 4.2rem;
      font-weight: 700;
    }

    .logo {
      position: relative;
      margin: 0 0 10rem;
      padding-left: 2rem;
      width: 30rem;

      & > div {
        position: absolute;
        display: block;

        &:first-child {
          top: 0;
          left: -2rem;
        }

        &:nth-child(2n) {
          bottom: 0;
          right: -4rem;
          transform: rotate(60deg);
        }

        img {
          width: 4.5rem;
          height: 4.5rem;
        }
      }

      > img {
        width: 100%;
      }

      h2 {
        position: relative;
        display: inline-block;
        font-size: 11rem;
        font-family: 'Montserrat Alternates';
        font-style: italic;
        line-height: 1;

        &::after {
          position: absolute;
          bottom: -0.5rem;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 3.7rem;
          background: $--color--sub;
        }
      }
    }

    .buttonBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;

      a,
      button {
        width: 15rem;
        height: 5rem;
        border-radius: 3rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 5rem;
        text-align: center;
      }

      button {
        background: $--color--white;
        border: 2px solid $--color--text1;
        color: $--color--text1;
      }

      a {
        background: $--color--text1;
        border: 2px solid $--color--text1;
        color: $--color--white;
      }
    }
  }

  .right {
    position: relative;
    flex: 0.6;

    .greenBackground {
      margin: 0 0 0 auto;
      width: 50rem;
      height: 36rem;
      background: rgba(152, 218, 123, 0.5);
      border-radius: 18rem;
    }

    .whiteBackground {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translateY(-50%);
      display: block;

      width: 30rem;
      height: 35rem;
      background: $--color--white;
      border-radius: 4.5rem;
      box-shadow: rgba(174, 174, 174, 0.3) 0px 2px 15px 0px;
    }

    .card {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      display: block;

      width: 32rem;
      height: 42rem;
      background: $--color--white;
      border-radius: 4.5rem;
    }

    .mascot {
      position: absolute;
      top: -20%;
      right: 0;
      transform: rotate(12deg);
      z-index: 10;
      display: block;
      width: 36rem;
      height: 36rem;
    }
  }
}

section.diary {
  .inner {
    padding: 20rem 5rem;
  }

  .right {
    position: relative;

    img {
      width: 40rem;
      height: 40rem;
    }
  }

  .colorBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    height: 35rem;
    background: #ffdcdc;
    border-radius: 50%;
    z-index: -1;
  }
}

section.community {
  .left {
    flex: 1 1;
    padding-right: 3rem;
  }

  .contents {
    position: relative;

    .gradation {
      position: absolute;
      bottom: -3rem;
      z-index: 2;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.4) 65%,
        rgba(255, 255, 255, 0) 100%
      );
      width: 100%;
      height: 10rem;
    }
  }

  .right {
    flex: 1;
    position: relative;

    img {
      width: 40rem;
      height: 40rem;
    }
  }

  .colorBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    height: 35rem;
    background: #d2e8ff;
    border-radius: 50%;
    z-index: -1;
  }
}

section.badge {
  & > .inner {
    display: block;

    .contents {
      position: relative;
      display: flex;
      max-width: 114rem;
      overflow: hidden;

      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        animation: imageLoop 15s linear infinite;

        li {
          flex-shrink: 0;
          padding: 0 2rem;
          width: 14.28%;

          img {
            width: 10rem;
            height: 10rem;
          }
        }
      }

      @keyframes imageLoop {
        0% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        100% {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
        }
      }
    }
  }
}

@media screen and (max-width: 895px) {
  section.homeMain {
    .inner {
      gap: 1rem;
      margin: 0 auto;
      padding: 15rem 5rem 0;
    }

    .left {
      width: 40%;

      p {
        font-size: 2.8rem;
      }

      strong {
        font-size: 3.6rem;
      }

      .logo {
        width: 20rem;

        & > div {
          &:first-child {
            left: -1rem;
          }

          &:nth-child(2n) {
            right: -2rem;
          }

          img {
            width: 3rem;
            height: 3rem;
          }
        }

        h2 {
          font-size: 7rem;

          &::after {
            height: 2.4rem;
          }
        }
      }

      .buttonBox {
        gap: 1rem;

        a,
        button {
          width: 12rem;
          height: 4.5rem;
          font-size: 1.6rem;
          line-height: 4.5rem;
        }
      }
    }

    .right {
      position: relative;
      flex: 0.6;

      .greenBackground {
        display: none;
      }

      .whiteBackground {
        display: none;
      }

      .card {
        position: relative;
        left: -15%;
        height: 40rem;
        width: 30rem;
      }

      .mascot {
        width: 24rem;
        height: 24rem;
        right: -12%;
      }
    }
  }
}

@media screen and (max-width: 724px) {
  section {
    & > .inner {
      .title {
        text-align: center;
      }

      .contents {
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 0 1rem;
        }
      }
    }
  }

  section.homeMain {
    .inner {
      flex-direction: column-reverse;
      gap: 5rem;
      padding: 0;
    }

    .left {
      padding: 0 1.5rem;
      width: 100%;
      text-align: center;

      p {
        font-size: 2.4rem;
        letter-spacing: 1px;
      }

      strong {
        font-size: 3.2rem;
        font-weight: 700;
      }

      .logo {
        position: relative;
        margin: 0 auto 5rem;
        padding: 0;

        & > div {
          &:first-child {
            left: -12%;
          }

          &:nth-child(2n) {
            right: -12%;
            transform: rotate(60deg);
          }
          img {
            width: 3rem;
            height: 3rem;
          }
        }

        > img {
          margin: 0 auto;
          width: 100%;
          max-width: 300px;
        }
      }

      .buttonBox {
        justify-content: center;
        gap: 1rem;

        a,
        button {
          width: 50%;
          max-width: 15rem;
          height: 4.5rem;
          border-radius: 3rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 4.5rem;
          text-align: center;
        }
      }
    }

    .right {
      position: unset;

      .card {
        display: none;
      }

      .mascot {
        width: 16rem;
        height: 16rem;
        top: 10rem;
        left: calc(50% + 15rem);
        transform: translateX(-50%) rotate(9deg);
      }
    }
  }

  section.diary {
    .inner {
      flex-direction: column-reverse;
      padding: 20rem 1.5rem 10rem;
      gap: 3rem;
    }

    .left {
      width: 100%;
    }

    .right {
      img {
        width: 20rem;
        height: 20rem;
      }
    }

    .colorBackground {
      width: 15rem;
      height: 15rem;
    }
  }

  section.community {
    .inner {
      flex-direction: column-reverse;
      padding: 0 1.5rem 10rem;
      gap: 3rem;
    }

    .left {
      flex: 0.4;
      padding: 0;
    }

    .contents {
      display: none;
    }

    .right {
      flex: 1;
      img {
        width: 20rem;
        height: 20rem;
      }
    }

    .colorBackground {
      width: 15rem;
      height: 15rem;
    }
  }

  section.badge {
    & > .inner {
      display: flex;
      flex-direction: column-reverse;
      padding: 0 1.5rem 10rem;
      gap: 3rem;

      .contents {
        ul {
          animation: unset;
          flex-wrap: wrap;

          li {
            display: flex;
            gap: 1rem;
            flex-shrink: 0;
            width: 25%;
            padding: 1rem;

            &:nth-child(n + 9) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  section {
    & > .inner {
      .title {
        padding: 0 0 3rem;

        & > div {
          span {
            font-size: 1.6rem;
          }

          h3 {
            font-size: 2.8rem;
          }
        }

        p {
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
  }

  section.homeMain {
    .inner {
      flex-direction: column-reverse;
      padding: 0rem 1.5rem;
      gap: 5rem;
    }

    .left {
      width: 100%;
      text-align: center;

      p {
        font-size: 2.4rem;
        letter-spacing: 1px;
      }

      strong {
        font-size: 3.2rem;
        font-weight: 700;
      }

      .logo {
        position: relative;
        margin: 0 auto 5rem;
        padding: 0;
        width: 60%;

        & > div {
          &:first-child {
            left: -12%;
          }

          &:nth-child(2n) {
            right: -12%;
            transform: rotate(60deg);
          }

          img {
            width: 3rem;
            height: 3rem;
          }
        }

        > img {
          margin: 0 auto;
          width: 100%;
          max-width: 300px;
        }
      }

      .buttonBox {
        justify-content: center;
        gap: 1rem;

        a,
        button {
          width: 50%;
          max-width: 15rem;
          height: 4.5rem;
          border-radius: 3rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 4.5rem;
          text-align: center;
        }
      }
    }

    .right {
      display: none;
    }
  }

  section.diary {
    .inner {
      padding: 10rem 1.5rem;
    }
  }

  section.badge {
    & > .inner {
      .contents {
        ul {
          li {
            width: 33%;

            &:nth-child(n + 7) {
              display: none;
            }
          }
        }
      }
    }
  }
}
