@import 'color.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  width: 100%;
  background: $--color--white;
  border: none;
  border-radius: 10px;
}

.postContainer {
  width: 100%;
}

.postItemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;

  margin: 10px auto;
  padding: 0 10px;

  font-size: 1.7rem;
  font-weight: bold;
}

.tagImg {
  width: 60px;
  margin: 0 10px;
}

.imgContainer {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

.textContainer {
  position: relative;
  margin: 10px;
  padding: 20px 0;

  .postTitleDiv {
    display: block;
    margin: 0 0 20px;

    h3 {
      position: relative;
      z-index: 1;
      display: inline-block;
      font-size: 2rem;
      font-weight: 600;
      color: $--color--text1;

      &::after {
        position: absolute;
        z-index: -1;
        display: block;
        content: '';
        bottom: 1px;
        width: 100%;
        height: 10px;
        background: $--color--sub;
      }
    }
  }

  .postContentDiv {
    font-size: 1.6rem;
    color: $--color--text2;
    white-space: pre-wrap;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;

  padding: 40px;
}
.inputContent {
  padding: 10px;

  border: 1px solid #969696;
  border-radius: 10px;

  font-size: 1.7rem;
  font-weight: bold;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;

  button {
    flex: 1;
    display: block;
    height: 4.5rem;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 600;

    &:first-child {
      background: $--color--primary;
      border: 1px solid $--color--primary;
      color: white;
    }

    &:last-child {
      background: $--color--white;
      border: 1px solid $--color--primary;
      color: $--color--primary;
    }
  }
}

.boastDiv {
  position: absolute;
  top: 24px;
  right: 0;

  padding: 2px 5px;
  border-radius: 12px;
  border: 1.5px solid #51a2ee;

  color: #51a2ee;
  font-weight: bold;
}
