.reportContainer {
  width: 95%;

  padding: 10px;
  margin: 10px;

  background-color: white;
  border-radius: 10px;
}

.reportItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px 20px;
  padding: 0 30px;

  font-size: 1.7rem;
  font-weight: bold;
}
