@import 'color.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  appearance: none;
  cursor: pointer;

  &:checked {
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
  }

  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;

  width: 55px;
  height: 55px;
  opacity: 0.5;

  border-radius: 50%;

  color: #fff;
}

.tagContents {
  cursor: pointer;

  .tag1 {
    background-image: url('../../../../assets/images/badge04.png');
  }

  .tag2 {
    background-image: url('../../../../assets/images/badge05.png');
  }

  .tag3 {
    background-image: url('../../../../assets/images/badge06.png');
  }

  span {
    display: block;
    padding: 5px 0 0;
    font-size: 16px;
    text-align: center;
  }
}

.whiteButton {
  background: white;
  border: 1px solid $--color--border;

  color: $--color--text2;
}
