@import 'color.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;

  appearance: none;

  &:checked {
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
  }

  width: 50px;
  height: 50px;
  opacity: 0.2;

  margin-bottom: 10px;

  background-color: #90d23c;
  border-radius: 50%;

  color: #fff;
}

.tag1 {
  background-color: #90d23c;
}

.tag2 {
  background-color: #24ae31;
}

.tag3 {
  background-color: #39a3f0;
}

.whiteButton {
  background: white;
  border: 1px solid $--color--border;

  color: $--color--text2;
}
