@import 'color.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;

  appearance: none;

  &:checked {
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
  }

  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;

  width: 50px;
  height: 50px;
  opacity: 0.5;

  border-radius: 50%;

  color: #fff;
}

.tag1 {
  background-image: url('../../../../assets/images/badge04.png');
}

.tag2 {
  background-image: url('../../../../assets/images/badge05.png');
}

.tag3 {
  background-image: url('../../../../assets/images/badge06.png');
}

.whiteButton {
  background: white;
  border: 1px solid $--color--border;

  color: $--color--text2;
}
