@import 'color.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  border: none;
}

.tagContainer {
  padding: 20px;
  margin: 0 0 20px;
  width: 100%;

  background: white;
  border-radius: 10px;

  & > span {
    font-size: 1.8rem;
    font-weight: bold;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 0 130px;

    & > button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 50px;
      height: 50px;

      background-color: #f00;
      border-radius: 50%;

      color: #fff;
    }

    & > button:hover {
      opacity: 0.8;
    }
  }
}

.recordContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;

  width: 100%;
  height: fit-content;

  background: white;
  border-radius: 10px;

  & > span {
    margin: 10px 0;

    font-size: 1.8rem;
    font-weight: bold;
  }

  & > button {
    display: flex;
    justify-content: center;

    width: 90%;

    margin: 10px;
    padding: 20px;
  }
}

.recondWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  .photo {
    width: 100%;
    padding: 0 20px;
    margin: 0 0 10px;
    cursor: pointer;

    .defaultImg {
      border-radius: 10px;
      overflow: hidden;
    }
  }

  .text {
    width: 100%;
    padding: 0 20px;

    .inputContent {
      width: 100%;
      resize: none;

      padding: 10px;
      margin-bottom: 10px;

      font-size: 16px;

      border: 1px solid #cccccc;
      border-radius: 5px;
      outline: none;
    }
  }
}

.shareButtonBox {
  display: flex;
  flex-direction: row;

  align-items: center;

  & > span {
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

.postButtonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 20px;
  margin: 10px 0;

  button {
    flex: 1;
    display: block;
    height: 4.5rem;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 600;
    background: $--color--primary;
    border: 1px solid $--color--primary;
    color: white;
  }
}
