@import 'color.scss';

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 25px auto;
  padding: 0 15px;
  width: 1140px;
  transition: transform 0.5s ease-out;
}

.inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: $--color--white;
  border: 1px solid #eaeaea;
  border-radius: 65px;
  padding: 0 35px;
  box-shadow: rgb(174 174 174 / 20%) 0px 2px 15px 0px;

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  & > div:first-child {
    gap: 30px;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  & > div {
    width: 50px;
    height: 50px;
  }

  strong {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Montserrat Alternates';
    font-style: italic;
  }
}

.menu {
  display: flex;

  a {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    cursor: pointer;
  }
}

.loginButton {
  display: block;
  padding: 0 24px;
  height: 48px;
  background: #24ae63;
  border: 2px solid $--color--white;
  border-radius: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  color: $--color--white;
  transition: 0.3s ease-in-out;

  &:hover {
    background: #14703e;
  }
}

.login {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 0;

  .infoBox {
    color: $--color--text2;
    font-weight: 500;
    cursor: pointer;
  }

  .imgBox {
    margin-left: 15px;
    width: 40px;
    height: 40px;
  }
}

.sideMenu {
  position: absolute;
  top: 64px;
  left: 0;
  padding: 10px;
  width: 100%;
  background: #ffffff;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 5px;
  box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;

  > * {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 10px 15px;
    background: $--color--white;
    border-radius: 2px;
    font-size: 1.6rem;
    color: $--color--text2;
    text-align: left;

    &:hover {
      background: #f8f8f8;
    }
  }
}
