@import 'color.scss';

.container {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;

  &.mypage {
    margin: 8rem 0 0;
    width: 18rem;
  }

  nav {
    width: 100%;
    padding: 3rem 1rem;
    border: 1px solid $--color--border;
    border-radius: 1rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  li {
    position: relative;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out;

    &:hover {
      background: rgba(233, 233, 233, 0.5);
    }

    a {
      color: $--color--text1;
      opacity: 0.3;

      &.active {
        opacity: 1;
      }

      & > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;

        .icon {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }

        span {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: 895px) {
  .container {
    margin: 0;

    > div {
      display: none;
    }

    nav {
      padding: 2rem 0;
      width: 100%;
      background: none;
      border: none;
      box-shadow: none;

      ul {
        flex-direction: row;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    nav {
      padding: 0;

      ul {
        overflow-x: auto;
      }
    }

    li {
      padding: 1rem;
      white-space: nowrap;
    }
  }
}
