$--color--primary: #24ae63;
$--color--secondary: #deebd7;
$--color--text1: #252525;
$--color--text2: #666666;
$--color--text3: #999999;
$--color--border: #cccccc;
$--color--background: #f6f6f6;
$--color--white: #ffffff;
$--color--pink: #f45c65;
