$--color--primary: #309b61;
$--color--secondary: #deebd7;
$--color--sub: #98da7b80;
$--color--text1: #252525;
$--color--text2: #666666;
$--color--text3: #999999;
$--color--border: #cccccc;
$--color--border-dk: #252525;
$--color--background: #f6f6f6;
$--color--white: #ffffff;
$--color--pink: #f45c65;
$--color--blue: #51a2ee;

$--color--userlogin: #b9dff6;
$--color--userjoin: #faf3be;
$--color--userfindid: #fbe1e1;
$--color--userfindpw: #cae3b9;
$--color--userchangepw: #cae3b9;
