@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('./font/Pretendard-Bold.subset.woff2') format('woff2'),
    url('./font/Pretendard-Bold.subset.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), url('./font/Pretendard-SemiBold.subset.woff2') format('woff2'),
    url('./font/Pretendard-SemiBold.subset.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url('./font/Pretendard-Medium.subset.woff2') format('woff2'),
    url('./font/Pretendard-Medium.subset.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url('./font/Pretendard-Regular.subset.woff2') format('woff2'),
    url('./font/Pretendard-Regular.subset.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-weight: 900;
  font-style: italic;
  src: local('MontserratAlternates-BlackItalic'), url('./font/MontserratAlternates-BlackItalic.woff2') format('woff2'),
    url('./font/MontserratAlternates-BlackItalic.woff') format('woff');
  font-display: swap;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  /* 16px * 0.625 = 10px */
  font-size: 62.5%;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Pretendard', 'sans-serif';
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  tab-size: 4;
}

body {
  font-size: 1.6rem;
}

ol,
ul {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
