@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

html {
  /* 62.5% of 16px browser font size is 10px */
  /* 16px * 0.625 = 10px */
  font-size: 62.5%;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.6rem;

  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', 'sans-serif';
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  tab-size: 4;
}

body {
  font-size: 1.6rem;
}

ol,
ul {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* * {
  position: absolute;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  width: 100px;
  height: 100%;

  margin: 0;
  padding: 0;

  background: red url();
  border: 10px;

  font-size:  ;
  font-weight: ;
  font-style: ;
  line-height: ;
  letter-spacing: ;
  color: ;
} */
