@import 'color.scss';

.reportContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  background-color: $--color--white;
  border-radius: 1rem;

  > span {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 895px) {
  .reportContainer {
    padding: 3rem 1.5rem 1rem;
  }
}
