@import 'color.scss';
@import '~react-calendar/dist/Calendar.css';

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 1140px;
  background-color: #f9f9f9;

  margin: auto;
  margin-top: 100px;
}
.container {
  width: 100%;

  border: none;
  border-radius: 20px;
}

.dot1 {
  display: flex;

  width: 40px;
  height: 40px;

  margin-left: 1px;

  background-color: beige;
  border-radius: 50%;
}
.dot2 {
  display: flex;

  width: 28px;
  height: 28px;

  margin-left: 1px;

  background-color: #f87171;
  border-radius: 50%;
}
.dot3 {
  display: flex;

  width: 28px;
  height: 28px;

  margin-left: 1px;

  background-color: #f87171;
  border-radius: 50%;
}

.tileContent {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
}

/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------react-calendar-customCSS--------------------------------- */
/* ------------------------------------------------------------------------------------------ */

.custom-calendar-container {
  width: 50%;

  margin: 20px;
}
.custom-calendar-container {
  .react-calendar__navigation {
    display: flex;
    justify-content: center;

    height: 90px;

    background: $--color--secondary;
    border-radius: 20px 20px 0 0;
  }

  .react-calendar__navigation > button:disabled {
    background-color: $--color--secondary;
  }

  .react-calendar__navigation button:nth-child(1):enabled:hover,
  .react-calendar__navigation button:nth-child(1):enabled:focus {
    transform: scale(2);

    background: none;
    border-radius: 20px 0 0 0;
  }

  .react-calendar__navigation button:nth-child(2) {
    max-width: 100px;
  }

  .react-calendar__navigation button:nth-child(3):enabled:hover,
  .react-calendar__navigation button:nth-child(3):enabled:focus {
    transform: scale(2);

    background: none;
    border-radius: 0 20px 0 0;
  }

  .react-calendar__navigation__label > span {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .react-calendar__month-view__weekdays {
    font-size: 1.5rem;
  }

  .react-calendar__tile {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    height: 80px;

    font-weight: bold;
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus,
  .react-calendar__tile--active {
    background: $--color--primary;
    border-radius: 14px;

    font-size: 1.5rem;
    font-weight: bolder;

    color: black;
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: none;

    font-size: 1.5rem;
  }

  .react-calendar__tile--now {
    background: none;
    border-radius: 14px;

    color: blueviolet;
  }
  /*hover, focus 시 */
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: $--color--primary;
    border-radius: 14px;
  }

  .react-calendar__month-view__days > button {
    display: flex;
    flex-direction: column-reverse;
  }
}
