@import 'color.scss';

abbr {
  text-decoration: none;
}

.react-calendar {
  width: 100%;
  border: none;
  border-radius: 2rem;
  overflow: hidden;
}

//캘린더 상단 month
.react-calendar__navigation {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 2.5rem 0;
  height: auto;
  background: $--color--sub;
}

.react-calendar__navigation button:disabled {
  flex-grow: 0.5 !important;
  background-color: transparent;
}

.react-calendar .react-calendar__navigation button {
  min-width: auto;
}

.react-calendar__navigation button span {
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Montserrat Alternates', 'Pretendard Variable', 'Noto Sans KR', 'sans-serif';
  color: $--color--text1;
}

.react-calendar .react-calendar__navigation__arrow {
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: $--color--white;
  border-radius: 50%;
  font-size: 0;
}

.react-calendar .react-calendar__navigation__arrow:enabled:hover,
.react-calendar .react-calendar__navigation__arrow:enabled:focus {
  background-color: $--color--white;
}

.react-calendar__navigation__arrow::after {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 1.3rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  background: $--color--text1;
}

.react-calendar__navigation__arrow::before {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 1.3rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  background: $--color--text1;
}

.react-calendar__navigation__prev-button::after,
.react-calendar__navigation__next-button::before {
  top: calc(50% + 0.35rem);
}

.react-calendar__navigation__prev-button::before,
.react-calendar__navigation__next-button::after {
  top: calc(50% - 0.35rem);
}

//캘린더 하단 date
.react-calendar__viewContainer {
  padding: 1rem;
}

.react-calendar__month-view__weekdays {
  padding: 1rem 0;
  margin: 0 0 2rem;
  border-bottom: 1px dashed $--color--border;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem 0;
  font-size: 1.6rem;
  color: $--color--text1;
}

.react-calendar__tile {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  font-weight: 600;
  transition: 0.3s ease;

  abbr {
    line-height: 2rem;
  }
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: $--color--sub;
  font-size: 1.5rem;
  color: $--color--border-dk;
}

.react-calendar__tile--now {
  background: none;
  border-radius: 1.4rem;

  abbr {
    display: block;
    width: 100%;
    background: $--color--border-dk;
    border-radius: 0.5rem;
    line-height: 20px;
    color: $--color--white;
  }

  /*hover, focus 시 */
  &:enabled:hover,
  &:enabled:focus {
    background: $--color--sub;
    border-radius: 1.4rem;
  }
}

.react-calendar__month-view__days > button {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.7rem;
}

@media screen and (max-width: 895px) {
  .react-calendar {
    border-radius: 1rem;
  }

  .react-calendar__tile {
    padding: 0.8rem 0.3rem;
  }
}

@media screen and (max-width: 724px) {
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .react-calendar__navigation {
    align-items: center;
    padding: 1.5rem;
  }

  .react-calendar .react-calendar__navigation__arrow {
    width: 3rem;
    height: 3rem;
  }
}
