@import 'color.scss';
@import '~react-calendar/dist/Calendar.css';

.wrapper {
  position: relative;

  margin: 20rem auto 15rem;
  width: 1140px;

  & > .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 2rem;
    background: #f6f6f6;
    border-radius: 1rem;
  }
}

.container {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
}

.dot1 {
  display: flex;

  width: 40px;
  height: 40px;

  margin-left: 1px;

  background-color: beige;
  border-radius: 50%;
}
.dot2 {
  display: flex;

  width: 28px;
  height: 28px;

  margin-left: 1px;

  background-color: #f87171;
  border-radius: 50%;
}
.dot3 {
  display: flex;

  width: 28px;
  height: 28px;

  margin-left: 1px;

  background-color: #f87171;
  border-radius: 50%;
}

.tileContent {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
}

.notPost {
  // width: 60px;
  // height: 60px;
}

/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------react-calendar-customCSS--------------------------------- */
/* ------------------------------------------------------------------------------------------ */

.custom-calendar-container {
  flex: 1;
}
.custom-calendar-container {
  .react-calendar__navigation {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    height: auto;
    background: $--color--sub;
    border-radius: 20px 20px 0 0;
  }

  .react-calendar__navigation > button:disabled {
    background-color: transparent;
  }

  .react-calendar__navigation button:nth-child(1):enabled:hover,
  .react-calendar__navigation button:nth-child(1):enabled:focus {
    background: none;
    border-radius: 20px 0 0 0;
  }

  .react-calendar__navigation button:nth-child(2) {
    max-width: 200px;
  }

  .react-calendar__navigation button:nth-child(3):enabled:hover,
  .react-calendar__navigation button:nth-child(3):enabled:focus {
    background: none;
    border-radius: 0 20px 0 0;
  }

  .react-calendar__viewContainer {
    padding: 10px;
  }

  .react-calendar__navigation__label > span {
    font-size: 2rem;
    font-weight: 600;
  }

  .react-calendar__month-view__weekdays {
    display: block;
    padding: 0 0 30px;
    font-size: 1.5rem;
  }

  .react-calendar__tile {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    // height: 80px;

    font-weight: 600;
    transition: 0.3s ease;

    abbr {
      display: block;
      line-height: 20px;
    }
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus,
  .react-calendar__tile--active {
    background: $--color--sub;
    font-size: 1.5rem;
    color: #252525;
  }

  .react-calendar__tile--now {
    background: none;
    border-radius: 14px;

    abbr {
      display: block;
      width: 100%;
      border-radius: 5px;
      line-height: 20px;
      color: #fff;
      background: #252525;
    }

    /*hover, focus 시 */
    &:enabled:hover,
    &:enabled:focus {
      background: $--color--sub;
      border-radius: 14px;
    }
  }

  .react-calendar__month-view__days > button {
    display: flex;
    flex-direction: column-reverse;
    gap: 7px;
  }
}
